{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_studiosity/block

    Template which defines a Studiosity block

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * courseid - int: Id of learninghub course the block links to (deprecated).

    Tab tree.

    Example context (json):
    {
        "courseid": 51232,
        "coursemoduleid": 7657,
        "imagepath": "https://www.moodle.com/image"
    }


}}
<div class="block_studiosity-maincontent">
    <p>Get feedback on your writing by submitting a document or starting a live chat. Available to all La Trobe University students..</p>
    <button class="btn btn-primary" href="{{#coursemoduleid}}/mod/lti/view.php?id={{coursemoduleid}}{{/coursemoduleid}}{{^coursemoduleid}}#{{/coursemoduleid}}" title="Go to Studiosity" target="_blank">
        Go to Studiosity >
    </button>
    {{^coursemoduleid}}<p>Brought to you by the library.</p>{{/coursemoduleid}}
</div>
